@import "tailwindcss";

:root {
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0e14;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Montserrat;
  src: url("../src/fonts/Montserrat-ExtraBold.ttf");
}

@theme{
  --font-Montserrat:Montserrat, "sans-serif";
}